.container{
  height: 100%;
  position: fixed;
  background: linear-gradient(to right, #750c0c, #e28383);
  align-items: center;
  text-align: center;
 
}

.toggle {
width: 0;


}
.toggle i {
  
  color: white;
  font-size: 2em;
  cursor: pointer;
  padding: 125px;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.title {
  display: flex;
  justify-content: center;
  font-size: 3.0rem;
  background: linear-gradient(to right, #750c0c, #e28383);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 1000;
  margin-top: -30px;
  padding: 30px;

}  

.ul li{
  list-style: none;
  padding: 20px 0px;
}


.navbarContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.navbarContainer li a{
  color: #ffffff;
  font-size: 20px;
  
}

  .navbarContainer a:hover {
    background-color: #575757;
    border-radius: 4px;
    height: 80px;
    width: 100px;
    align-items: center;
  }

  .navbar img {
    width: 80px;
    height: auto;
  
  }

  
  @media (max-width: 768px) {
    .navList {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
 